@import 'tailwindcss';

* {
  font-family: Outfit, sans-serif;
}

:root {
  --light-hover: #fcf4ff;
  --dark-hover: #2a004a;
  --dark-theme: #11001f;
}

[data-theme='dark'] {
  --light-hover: #2a004a;
  --dark-hover: #fcf4ff;
  --dark-theme: #11001f;
}

.hover-light {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-light:hover {
  background-color: var(--light-hover);
  transform: translateY(-4px);
  box-shadow: 4px 4px 0 #000;
}

.hover-dark {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-dark:hover {
  background-color: var(--dark-hover);
  transform: translateY(-4px);
  box-shadow: 4px 4px 0 #fff;
}
